In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [2]:
from matplotlib.pyplot import rcParams

rcParams['figure.figsize'] = 16, 12
rcParams["font.weight"] = "bold"
rcParams["axes.labelweight"] = "bold"
rcParams["font.size"] = 13

In [4]:
df_tweets = pd.read_csv('covid.csv')
df_tweets.head()

,user_name,user_location,user_description,user_created,user_followers,user_friends,user_favourites,user_verified,date,text,hashtags,source,is_retweet
0,·èâ·é•‚òª’¨ÍÇÖœÆ,astroworld,wednesday addams as a disney princess keepin i...,2017-05-26 05:46:42,624,950,18775,False,2020-07-25 12:27:21,If I smelled the scent of hand sanitizers toda...,NaN,Twitter for iPhone,False
1,Tom Basile üá∫üá∏,"New York, NY","Husband, Father, Columnist & Commentator. Auth...",2009-04-16 20:06:23,2253,1677,24,True,2020-07-25 12:27:17,Hey @Yankees @YankeesPR and @MLB - wouldn't it...,NaN,Twitter for Android,False
2,Time4fisticuffs,"Pewee Valley, KY",#Christian #Catholic #Conservative #Reagan #Re...,2009-02-28 18:57:41,9275,9525,7254,False,2020-07-25 12:27:14,@diane3443 @wdunlap @realDonaldTrump Trump nev...,['COVID19'],Twitter for Android,False
3,ethel mertz,Stuck in the Middle,#Browns #Indians #ClevelandProud #[]_[] #Cavs ...,2019-03-07 01:45:06,197,987,1488,False,2020-07-25 12:27:10,@brookbanktv The one gift #COVID19 has give me...,['COVID19'],Twitter for iPhone,False
4,DIPR-J&K,Jammu and Kashmir,üñäÔ∏èOfficial Twitter handle of Department of Inf...,2017-02-12 06:45:15,101009,168,101,False,2020-07-25 12:27:08,25 July : Media Bulletin on Novel #CoronaVirus...,"['CoronaVirusUpdates', 'COVID19']",Twitter for Android,False

In [5]:
df_tweets.isna().sum()

user_name               0
user_location       36771
user_description    10286
user_created            0
user_followers          0
user_friends            0
user_favourites         0
user_verified           0
date                    0
text                    0
hashtags            51334
source                 77
is_retweet              0
dtype: int64

In [6]:
df_tweets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 179108 entries, 0 to 179107
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   user_name         179108 non-null  object
 1   user_location     142337 non-null  object
 2   user_description  168822 non-null  object
 3   user_created      179108 non-null  object
 4   user_followers    179108 non-null  int64
 5   user_friends      179108 non-null  int64
 6   user_favourites   179108 non-null  int64
 7   user_verified     179108 non-null  bool
 8   date              179108 non-null  object
 9   text              179108 non-null  object
 10  hashtags          127774 non-null  object
 11  source            179031 non-null  object
 12  is_retweet        179108 non-null  bool
dtypes: bool(2), int64(3), object(8)
memory usage: 15.4+ MB

In [50]:
df_tweets["user_verified"].isna()

0         False
1         False
2         False
3         False
4         False
          ...
179103    False
179104    False
179105    False
179106    False
179107    False
Name: user_verified, Length: 179108, dtype: bool

In [51]:
df_tweets["user_verified"].isna().sum()

0

In [52]:
df_tweets["user_verified"][df_tweets["user_verified"].isna()]

Series([], Name: user_verified, dtype: bool)

In [53]:
df_tweets[1000:10000][["user_favourites", "user_followers", "user_friends", "user_verified"]]

      user_favourites  user_followers  user_friends  user_verified
1000            40046            6749          5225          False
1001                0              45             1          False
1002             1982             464           410          False
1003            16144            3936          4129          False
1004            13913            1015           741          False
...               ...             ...           ...            ...
9995             1654           35049          8505          False
9996            17435            2471           624          False
9997              257             337           164          False
9998               19             686             7          False
9999              155               3             0          False

[9000 rows x 4 columns]

In [54]:
df_tweets.drop(df_tweets.dropna().index)

,user_name,user_location,user_description,user_created,user_followers,user_friends,user_favourites,user_verified,date,text,hashtags,source,is_retweet
0,·èâ·é•‚òª’¨ÍÇÖœÆ,astroworld,wednesday addams as a disney princess keepin i...,2017-05-26 05:46:42,624,950,18775,False,2020-07-25 12:27:21,If I smelled the scent of hand sanitizers toda...,NaN,Twitter for iPhone,False
1,Tom Basile üá∫üá∏,"New York, NY","Husband, Father, Columnist & Commentator. Auth...",2009-04-16 20:06:23,2253,1677,24,True,2020-07-25 12:27:17,Hey @Yankees @YankeesPR and @MLB - wouldn't it...,NaN,Twitter for Android,False
7,Derbyshire LPC,NaN,NaN,2012-02-03 18:08:10,608,355,95,False,2020-07-25 12:27:00,You now have to wear face coverings when out s...,NaN,TweetDeck,False
8,Prathamesh Bendre,NaN,"A poet, reiki practitioner and a student of law.",2015-04-25 08:15:41,25,29,18,False,2020-07-25 12:26:59,Praying for good health and recovery of @Chouh...,"['covid19', 'covidPositive']",Twitter for Android,False
10,Voice Of CBSE Students,NaN,NaN,2020-07-14 17:50:30,8,10,7,False,2020-07-25 12:26:53,49K+ Covid19 cases still no response from \n@c...,NaN,Twitter Web App,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
179096,laura l. sweet,"Los Angeles, CA","Creative Director/AD/CW, Advertising & Brandin...",2008-03-18 16:45:55,2146,1077,5306,False,2020-08-29 19:44:40,We were really bummed we couldn‚Äôt cop one of t...,NaN,Instagram,False
179097,rainmaker,NaN,NaN,2017-08-16 22:12:17,709,1158,95006,False,2020-08-29 19:44:35,@politvidchannel Just not the lives of #COVID1...,"['COVID19', 'coronavirus', 'TrumpVirus']",Twitter for Android,False
179098,John Geer,NaN,#StayAtHome #StayAtHomeSaveLifes #MaskUp \nFor...,2020-04-18 01:55:14,61,168,10817,False,2020-08-29 19:44:34,Report #COVID19 outbreaks in K-12 schools here...,"['COVID19', 'CloseTheSchools', 'KeepTheSchools...",Twitter Web App,False
179105,BEEHEMOTH ‚è≥,üá®üá¶ Canada,‚öíÔ∏è The Architects of Free Trade ‚öíÔ∏è Really Did ...,2016-07-13 17:21:59,1623,2160,98000,False,2020-08-29 19:44:15,@CTVNews A powerful painting by Juan Lucena. I...,NaN,Twitter Web App,False
179107,TUKY II,"Aliwal North, South Africa",TOKELO SEKHOPA | TUKY II | LAST BORN | EISH TU...,2018-04-14 17:30:07,97,1697,566,False,2020-08-29 19:44:08,I stop when I see a Stop\n\n@SABCNews\n@Izinda...,NaN,Twitter for Android,False

In [56]:
df_tweets.drop(df_tweets.dropna().index)

,user_name,user_location,user_description,user_created,user_followers,user_friends,user_favourites,user_verified,date,text,hashtags,source,is_retweet
0,·èâ·é•‚òª’¨ÍÇÖœÆ,astroworld,wednesday addams as a disney princess keepin i...,2017-05-26 05:46:42,624,950,18775,False,2020-07-25 12:27:21,If I smelled the scent of hand sanitizers toda...,NaN,Twitter for iPhone,False
1,Tom Basile üá∫üá∏,"New York, NY","Husband, Father, Columnist & Commentator. Auth...",2009-04-16 20:06:23,2253,1677,24,True,2020-07-25 12:27:17,Hey @Yankees @YankeesPR and @MLB - wouldn't it...,NaN,Twitter for Android,False
7,Derbyshire LPC,NaN,NaN,2012-02-03 18:08:10,608,355,95,False,2020-07-25 12:27:00,You now have to wear face coverings when out s...,NaN,TweetDeck,False
8,Prathamesh Bendre,NaN,"A poet, reiki practitioner and a student of law.",2015-04-25 08:15:41,25,29,18,False,2020-07-25 12:26:59,Praying for good health and recovery of @Chouh...,"['covid19', 'covidPositive']",Twitter for Android,False
10,Voice Of CBSE Students,NaN,NaN,2020-07-14 17:50:30,8,10,7,False,2020-07-25 12:26:53,49K+ Covid19 cases still no response from \n@c...,NaN,Twitter Web App,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
179096,laura l. sweet,"Los Angeles, CA","Creative Director/AD/CW, Advertising & Brandin...",2008-03-18 16:45:55,2146,1077,5306,False,2020-08-29 19:44:40,We were really bummed we couldn‚Äôt cop one of t...,NaN,Instagram,False
179097,rainmaker,NaN,NaN,2017-08-16 22:12:17,709,1158,95006,False,2020-08-29 19:44:35,@politvidchannel Just not the lives of #COVID1...,"['COVID19', 'coronavirus', 'TrumpVirus']",Twitter for Android,False
179098,John Geer,NaN,#StayAtHome #StayAtHomeSaveLifes #MaskUp \nFor...,2020-04-18 01:55:14,61,168,10817,False,2020-08-29 19:44:34,Report #COVID19 outbreaks in K-12 schools here...,"['COVID19', 'CloseTheSchools', 'KeepTheSchools...",Twitter Web App,False
179105,BEEHEMOTH ‚è≥,üá®üá¶ Canada,‚öíÔ∏è The Architects of Free Trade ‚öíÔ∏è Really Did ...,2016-07-13 17:21:59,1623,2160,98000,False,2020-08-29 19:44:15,@CTVNews A powerful painting by Juan Lucena. I...,NaN,Twitter Web App,False
179107,TUKY II,"Aliwal North, South Africa",TOKELO SEKHOPA | TUKY II | LAST BORN | EISH TU...,2018-04-14 17:30:07,97,1697,566,False,2020-08-29 19:44:08,I stop when I see a Stop\n\n@SABCNews\n@Izinda...,NaN,Twitter for Android,False

In [57]:
df_tweets.shape[0] - 79970

99138

In [58]:
df_covid = df_tweets.dropna().reset_index(drop=True)
df_covid.head()

,user_name,user_location,user_description,user_created,user_followers,user_friends,user_favourites,user_verified,date,text,hashtags,source,is_retweet
0,Time4fisticuffs,"Pewee Valley, KY",#Christian #Catholic #Conservative #Reagan #Re...,2009-02-28 18:57:41,9275,9525,7254,False,2020-07-25 12:27:14,@diane3443 @wdunlap @realDonaldTrump Trump nev...,['COVID19'],Twitter for Android,False
1,ethel mertz,Stuck in the Middle,#Browns #Indians #ClevelandProud #[]_[] #Cavs ...,2019-03-07 01:45:06,197,987,1488,False,2020-07-25 12:27:10,@brookbanktv The one gift #COVID19 has give me...,['COVID19'],Twitter for iPhone,False
2,DIPR-J&K,Jammu and Kashmir,üñäÔ∏èOfficial Twitter handle of Department of Inf...,2017-02-12 06:45:15,101009,168,101,False,2020-07-25 12:27:08,25 July : Media Bulletin on Novel #CoronaVirus...,"['CoronaVirusUpdates', 'COVID19']",Twitter for Android,False
3,üéπ Franz Schubert,–ù–æ–≤–æ—Ä–æÃÅ—Å—Å–∏—è,üéº #–ù–æ–≤–æ—Ä–æÃÅ—Å—Å–∏—è #Novorossiya #–æ—Å—Ç–∞–≤–∞–π—Å—è–¥–æ–º–∞ #S...,2018-03-19 16:29:52,1180,1071,1287,False,2020-07-25 12:27:06,#coronavirus #covid19 deaths continue to rise....,"['coronavirus', 'covid19']",Twitter Web App,False
4,hr bartender,"Gainesville, FL",Workplace tips and advice served up in a frien...,2008-08-12 18:19:49,79956,54810,3801,False,2020-07-25 12:27:03,How #COVID19 Will Change Work in General (and ...,"['COVID19', 'Recruiting']",Buffer,False

In [59]:
df_covid.describe()

       user_followers   user_friends  user_favourites
count    9.913800e+04   99138.000000     9.913800e+04
mean     1.550841e+05    2374.224334     1.517543e+04
std      1.012846e+06   10019.923883     4.490681e+04
min      0.000000e+00       0.000000     0.000000e+00
25%      3.220000e+02     210.000000     3.330000e+02
50%      1.546000e+03     666.000000     2.184000e+03
75%      7.576000e+03    1951.000000     1.038475e+04
max      2.435916e+07  497363.000000     2.047197e+06

In [60]:
df_covid.dtypes

user_name           object
user_location       object
user_description    object
user_created        object
user_followers       int64
user_friends         int64
user_favourites      int64
user_verified         bool
date                object
text                object
hashtags            object
source              object
is_retweet            bool
dtype: object

In [61]:
df_covid.dtypes[df_covid.dtypes == "object"]

user_name           object
user_location       object
user_description    object
user_created        object
date                object
text                object
hashtags            object
source              object
dtype: object

In [62]:
df_covid["user_name"].value_counts()

covidnews.ch                                    402
GlobalPandemic.NET                              320
Blood Donors India                              282
Hindustan Times                                 267
IANS Tweets                                     228
                                               ...
Julia C. Reinhart                                 1
Mohammad Y. Al-Bahar (The Diabetic Traveler)      1
wyoming4paul (I,you,he,she,it,we,you,they)        1
Mithu Maheswaranathan, MD                         1
AJIMATI AbdulRahman O.                            1
Name: user_name, Length: 53239, dtype: int64

In [63]:
columnas_drop = ["user_name", "user_location", "user_description", "user_created", "date", "hashtags", "source", "text"]

In [64]:
df_covid2 = df_covid.drop(columns = columnas_drop, axis=1)
print("Tama√±o del dataset original: ", df_covid.shape)
print("Tama√±o del dataset nuevo: ", df_covid2.shape)

Tama√±o del dataset original:  (99138, 13)
Tama√±o del dataset nuevo:  (99138, 5)

In [65]:
df_covid2.dtypes.value_counts()

int64    3
bool     2
dtype: int64

In [66]:
target = "user_verified"
features = [x for x in df_covid2.columns if x != target]

print ("Features: ", features)
print ("Target: ", target)

Features:  ['user_followers', 'user_friends', 'user_favourites', 'is_retweet']
Target:  user_verified

In [67]:
df_covid2[target]

0        False
1        False
2        False
3        False
4        False
         ...
99133    False
99134    False
99135    False
99136    False
99137    False
Name: user_verified, Length: 99138, dtype: bool

In [68]:
from sklearn.tree import DecisionTreeRegressor

arbol_importancia = DecisionTreeRegressor(max_depth=len(features)+10, random_state=42)

arbol_importancia.fit(X=df_covid2[features], y=df_covid2[target])

DecisionTreeRegressor(max_depth=14, random_state=42)

In [69]:
y_pred_arbol = arbol_importancia.predict(X=df_covid2[features])

from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_absolute_percentage_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

print('Mean Absolute Error:', mean_absolute_error(df_covid2[target], y_pred_arbol))
print('Mean Absolute Percentage Error:', mean_absolute_percentage_error(df_covid2[target], y_pred_arbol)*100)
print('Mean Squared Error:', mean_squared_error(df_covid2[target], y_pred_arbol))
print('Root Mean Squared Error:', np.sqrt(mean_squared_error(df_covid2[target], y_pred_arbol)))
print('R^2 coefficient of determination:', r2_score(df_covid2[target], y_pred_arbol))

Mean Absolute Error: 0.051522814138772834
Mean Absolute Percentage Error: 1.160190632782284e+16
Mean Squared Error: 0.025761407069386427
Root Mean Squared Error: 0.16050360453705215
R^2 coefficient of determination: 0.8088387434206572